<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harry.ebangbang">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.EBangBangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--高德地图配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="66b1ebbd50ad1978650ac1019ac42349" />
        <service android:name="com.amap.api.location.APSService" /><!--定位需要的服务-->

        <activity
            android:name=".function.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBarWithBackGround">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".function.login.LoginActivity" />
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true" />

        <activity android:name=".function.register.RegisterActivity" />
        <activity android:name=".function.forget_password.ForgetPasswordActivity" />
        <activity android:name=".function.submit_order.SubmitOrderActivity" />
        <activity android:name=".function.add_address.AddAddressActivity" />
        <activity android:name=".function.add_address.receiving_address.ReceivingAddressActivity" />
        <activity android:name=".function.choose_coupon.ChooseCouponActivity" />
        <activity android:name=".function.payment_method.PaymentMethodActivity" />
        <activity android:name=".function.search.SearchActivity" />
        <activity android:name=".function.shop_detail.ShopDetailActivity" />
        <activity android:name=".function.order_detail.OrderDetailActivity" />
        <activity android:name=".function.goods_detail.GoodsDetailActivity" />
        <activity android:name=".function.order_manage.OrderManageActivity" />
        <activity android:name=".function.add_comment.AddCommentActivity" />
        <activity android:name=".function.order_manage.order_status.OrderStatusActivity" />
        <activity android:name=".function.user_info.UserInfoActivity" />
        <activity android:name=".function.login.binding_phone.BindingPhoneActivity" />
        <activity android:name=".function.address_management.AddressManagementActivity" />
        <activity android:name=".function.modify_address.ModifyAddressActivity" />
        <activity android:name=".function.errand_service.ErrandServiceActivity" />
        <activity android:name=".function.errand_service.select_address.SelectAddressActivity" />
        <activity
            android:name=".function.errand_list.ErrandListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".function.errand_list.going_on.RiderLocationActivity" />
        <activity android:name=".function.my_coupon.MyCouponActivity" />

    </application>

</manifest>